configs = (
    {
        sim = "default";
        car = "default";
        devices = (
        {
            device       = "Serial";
            type         = "Wheel";
            subtype      = "MozaNew";
            devpath      = "/dev/serial/by-id/CHANGE_ME_TO_YOUR_MOZA_BASE";
        });
    }
);
